%Block-Shadow
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

%Header-Lines
{
    width:      100%;
    position:   relative;
    max-width:  1200px;
    margin:     Grid(3) auto;
    @include Adaptive('>TS')
    {
        margin:     Grid(5) auto;
    }
    text-align: center;

    h3
    {
        display:     inline-block;

        font-size:   Grid(4);
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        position:    relative;
        text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);

        @include Adaptive('>TS')
        {
            font-size:   Grid(5);
        }
    }

    .Header-Spot-1
    {
        display:       none;
        position:      absolute;
        width:         50%;
        padding-right: 156px;
        left:          0px;
        height:        2px;
        top:           20px;
        @include Adaptive('>TL')
        {
            display: block;
        }

        span
        {
            position:   relative;
            height:     2px;
            width:      100%;
            display:    block;
            background: linear-gradient(to right, rgba(255, 254, 254, 0) 0%, #2d2d2d 100%);
            &:after
            {
                content:          "";
                display:          block;
                position:         absolute;
                background-color: #2d2d2d;
                border-radius:    50%;
                width:            6px;
                height:           6px;
                right:            -2px;
                top:              -2px;
            }
        }
    }
    .Header-Spot-2
    {
        display:      none;
        position:     absolute;
        width:        50%;
        padding-left: 156px;
        right:        0px;
        height:       2px;
        top:          20px;
        @include Adaptive('>TL')
        {
            display: block;
        }

        span
        {
            position:   relative;
            height:     2px;
            width:      100%;
            display:    block;
            background: linear-gradient(to left, rgba(255, 254, 254, 0) 0%, #2d2d2d 100%);
            &:after
            {
                content:          "";
                display:          block;
                position:         absolute;
                background-color: #2d2d2d;
                border-radius:    50%;
                width:            6px;
                height:           6px;
                left:             -2px;
                top:              -2px;
            }
        }
    }
}

%Header-Lines-Light
{
    @extend %Header-Lines;

    .Header-Spot-1
    {
        padding-right: 156px;
        span
        {
            background: linear-gradient(to right, rgba(255, 254, 254, 0) 0%, #fffefe 100%);
            &:after
            {
                background-color: #fffefe;
            }
        }
    }

    .Header-Spot-2
    {
        padding-left: 156px;
        span
        {
            background: linear-gradient(to left, rgba(255, 254, 254, 0) 0%, #fffefe 100%);
            &:after
            {
                background-color: #fffefe;
            }
        }
    }
}