// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------

$Viewports: (
        // Phone viewports
        'SS': 320px,
        'SM': 375px,
        'SL': 410px,
        // Tablet viewports
        'TS' : 600px,
        'TM' : 700px,
        'TL' : 800px,
        'TXL' : 1000px,
        'TXXL' : '1280px & dpi >= @2x',
        // Desktop viewports
        'DS' : 1280px,
        'DM' : 1440px,
        'DL' : 1600px,
        'DXL' : 1920px,
        'D2K' : 2560px,
        'D4K' : 3840px
) !default;

$Viewport-Expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'landscape': '(orientation: landscape)',
        'portrait': '(orientation: portrait)',
        'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
        'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// ---------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------



$Color-Primary: #196bb8;
$Color-Primary-Dark: #0062ad;
$Color-Primary-Light: lighten($Color-Primary,8);

$Color-Secondary: #223354;
$Color-Secondary-Dark: #E64A3C;



$Color-Gray: #f1f1f1;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------

$Folder-Img: '../img/';
$Folder-Fonts: '../fonts/';

// ---------------------------------------------------------------------------------------------------------------------


$Grid-Atom: 8px;