.Header
{
    position:         relative;
    background-color: #466079;

    .Header-With-Love
    {
        display:    none;
        position:   absolute;
        z-index:    2;
        left:       Grid(6);
        top:        Grid(11);
        width:      Grid(20);

        transition: 0.3s;

        @include Adaptive('>=TXL')
        {
            display: block;
        }
    }

    .Header-Logo
    {
        position:    relative;
        z-index:     1;
        display:     block;
        padding-top: Grid(3);

        text-align:  center;

        @include Adaptive('>=TXL')
        {
            padding-top: Grid(8);
        }

        span
        {
            display:        inline-block;
            padding:        0 Grid();
            vertical-align: middle;

            text-transform: uppercase;
            font-size:      Grid(5);
            font-family:    'PFHandbookPro-Regular';
            color:          white;

            @include Adaptive('>=TXL')
            {
                font-size: Grid(9);
            }
        }

        img
        {
            position:       relative;
            display:        inline-block;
            vertical-align: middle;
            width:          Grid(12);

            transition:     all 0.1s ease;

            @include Adaptive('>=TXL')
            {
                width: Grid(18);
            }

            transform:      scale(1);
            &.Scale
            {
                transform:  scale(1.2);
                transition: all 1s ease;
            }
        }
    }

    .Header-Slider
    {
        position: absolute;
        top:      0;
        height:   100%;
        width:    100%;

        .Header-Slider-Item div
        {
            height:              100%;
            background-size:     cover;
            background-position: center;
        }

        .Header-Slider-Next, .Header-Slider-Prev
        {
            position:                    absolute;
            top:                         50%;
            width:                       Grid(8);
            padding:                     Grid(2);

            margin-top:                  - Grid(4);
            cursor:                      pointer;
            z-index:                     2;

            @include Adaptive('>=TXL')
            {
                width:      Grid(12);
                margin-top: - Grid(10);
            }

            &.Header-Slider-Prev
            {
                left: 0;
                @include Adaptive('>=TXL')
                {
                    left: Grid(5);
                }
            }

            &.Header-Slider-Next
            {
                right: 0;
                @include Adaptive('>=TXL')
                {
                    right: Grid(5);
                }
            }

            transition:                  0.3s;

            -webkit-backface-visibility: hidden;
            -moz-backface-visibility:    hidden;
            -ms-backface-visibility:     hidden;
            &:hover
            {
                transform: scale(1.1) !important;
            }
        }
    }

    .Header-Description
    {
        position:            absolute;
        padding:             Grid(2) Grid(2) Grid(1);
        width:               100%;
        bottom:              0;
        background:          url("/img/textures/menu-back-1.png") repeat;
        background-position: center bottom;

        text-align:          center;

        @include Adaptive('>=TXL')
        {
            padding: Grid(3) Grid(4) Grid(2);
        }

        h3
        {
            font-size:      Grid(3, 4);
            padding-bottom: Grid(1);
            @include Adaptive('>=TXL')
            {
                font-size:      Grid(4, 4);
                padding-bottom: Grid(2);
            }

            text-transform: uppercase;
            font-family:    'Roboto Slab', serif;
            font-weight:    300;
        }
        p
        {
            padding-bottom: Grid();
            font-size:      Grid(2, 4);
            font-family:    'Roboto Slab', serif;
            font-weight:    300;
            color:          #000;
            line-height:    Grid(3);

            @include Adaptive('>=TXL')
            {
                font-size: Grid(3, -2);
            }
        }
    }

    .Header-Call
    {
        display:        none;
        position:       absolute;
        z-index:        2;
        right:          Grid(6);
        top:            Grid(11);
        height:         64px;
        width:          282px;
        border:         2px solid white;
        border-radius:  20px;
        background:     rgba(0, 0, 0, 0.2);
        box-shadow:     0 0 15px rgba(0, 0, 0, 0.3);

        text-align:     center;
        vertical-align: middle;
        cursor:         pointer;
        transition:     0.3s;

        @include Adaptive('>=TXL')
        {
            display: block;
        }

        span
        {
            display:        inline-block;
            padding-top:    Grid(2, 1);
            vertical-align: middle;
            text-transform: uppercase;
            font-size:      Grid(3, 2);
            font-family:    'PFDinTextPro-Regular';
            color:          white;
        }

        &:hover
        {
            background: rgba(0, 0, 0, 0.3);
        }
    }

    .Header-Menu
    {
        display:          none;
        position:         fixed;
        top:              0;
        height:           Grid(6);
        width:            100%;
        z-index:          3;
        text-align:       center;
        background-color: #fff;
        background-color: rgba(175, 90, 144, 0.8);
        box-shadow:       0 4px 10px rgba(0, 0, 0, .2);

        @include Adaptive('>=TXL')
        {
            display: block;
        }

        li
        {
            display: inline-block;
            a
            {
                cursor:          pointer;
                padding:         0 Grid(2);
                text-decoration: none;
                color:           #fff;
                font-family:     'Roboto Slab', serif;
                font-size:       Grid(2);
                line-height:     Grid(5.5);
                font-weight:     300;
                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
    }
}