.Services
{
    padding:         Grid(2);

    background:      url(/img/textures/pattern-dark.jpg) center;
    background-size: contain;
    box-shadow:      0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:           #fffefe;

    &.Dark
    {
        .Services-Header
        {
            @extend %Header-Lines-Light;
        }
    }

    &.Light
    {
        background: url(/img/textures/pattern-light.jpg) center;
        color:      #2d2d2d;
        .Services-Header h3
        {
            text-shadow: none;
        }
        .Services-Header
        {
            @extend %Header-Lines;
            .Header-Spot-1
            {
                padding-right: 295px;
            }

            .Header-Spot-2
            {
                padding-left: 295px;
            }
        }
    }

    .Services-List
    {
        max-width:  1200px;
        margin:     0 auto;
        text-align: center;
        font-size:  0;

        @include Adaptive('>TS')
        {
            padding: 0 Grid();
        }

        .Services-Item
        {
            display:        inline-block;
            position:       relative;
            padding:        0 Grid() Grid(6);
            text-align:     left;

            vertical-align: top;
            width:          100%;

            @include Adaptive('>TL')
            {
                width:   33.3%;
                padding: 0 Grid(2) Grid(6);
            }

            img
            {
                width:         100%;
                max-width:     100%;
                margin-bottom: Grid(2);

                border:        4px #fffefe solid;
                box-shadow:    0 0 15px rgba(0, 0, 0, 0.3);
            }

            h4
            {
                font-size:      Grid(3);
                line-height:    Grid(4);
                font-family:    'Roboto Slab', serif;
                font-weight:    300;
                padding-bottom: Grid(2);
            }

            ul
            {
                list-style:   circle;
                padding-left: Grid(2.5);
            }
            li
            {
                padding-bottom: Grid(1, 2);
                line-height:    Grid(3, -4);
                font-size:      Grid(2, -2);
                font-family:    'Roboto Slab', serif;
                font-weight:    300;
            }

            p
            {
                text-align:       center;
                font-size:        Grid(3);
                position:         absolute;
                top:              Grid(0.5);
                right:            Grid(1);
                color:            black;
                background-color: rgba(255, 255, 255, 0.8);
                padding:          4px 6px;
                @include Adaptive('>TL')
                {
                    right: Grid(2);
                }
            }
        }
    }
}

.Services.Light
{
    .Services-Item
    {
        width: 100%;
        @include Adaptive('>TL')
        {
            width: 50%;
        }
    }
}