.Kipr
{
    padding:         Grid(2) Grid(4) Grid(6);

    background:      url(/img/textures/pattern-dark.jpg) center;
    background-size: contain;
    box-shadow:      0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:           #fffefe;

    .Kipr-Header
    {
        @extend %Header-Lines-Light;

        .Header-Spot-1
        {
            padding-right: 156px;
        }

        .Header-Spot-2
        {
            padding-left: 156px;
        }
    }

    .Kipr-Description
    {
        width:     100%;
        max-width: 1000px;
        margin:    0 auto;
        ul
        {
            list-style:   circle;
            padding-left: Grid(2.5);
        }
        li
        {
            list-style:     circle;
            padding-bottom: Grid(2);
            font-family:    'Roboto Slab', serif;
            font-weight:    300;
            font-size:      Grid(2);
            line-height:    Grid(3);
        }
    }
}