.Places
{
    background:      url(/img/textures/pattern-light.jpg) center;
    background-size: contain;
    box-shadow:      0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:           #2d2d2d;
    padding:         Grid() 0 0;

    .Places-Header
    {
        @extend %Header-Lines;
    }

    .Places-Slider
    {
        height: 520px;
        .Places-Slider-Item
        {
            div
            {
                height:              100%;
                background-size:     cover;
                background-position: center;
                border-top:          Grid(0.5) solid white;
                border-bottom:       Grid(0.5) solid white;
                box-shadow:          inset 0 -100px 100px rgba(255, 255, 255, 0.9);
            }

            article
            {
                position:   absolute;
                width:      100%;
                bottom:     0;
                z-index:    2;
                text-align: center;
                h4
                {
                    font-size:      Grid(3, 4);
                    padding-bottom: Grid(1);
                    @include Adaptive('>=TL')
                    {
                        font-size:      Grid(4, 4);
                        padding-bottom: Grid(1.5);
                    }

                    text-transform: uppercase;
                    font-family:    'Roboto Slab', serif;
                    font-weight:    300;
                }

                p
                {
                    padding-bottom: Grid(3);
                    font-size:      Grid(2, 4);
                    font-family:    'Roboto Slab', serif;
                    font-weight:    300;
                    color:          #000;
                    line-height:    Grid(3);

                    @include Adaptive('>=TL')
                    {
                        font-size: Grid(3, -4);
                    }
                }
            }
        }

        .Places-Slider-Next, .Places-Slider-Prev
        {
            position:   absolute;
            top:        50%;
            width:      Grid(8);
            padding:    Grid(2);

            margin-top: - Grid(4);
            cursor:     pointer;
            z-index:    2;

            @include Adaptive('>=TL')
            {
                width:      Grid(10);
                margin-top: - Grid(4);
            }

            &.Places-Slider-Prev
            {
                left: 0;
                @include Adaptive('>=TL')
                {
                    left: Grid(5);
                }
            }

            &.Places-Slider-Next
            {
                right: 0;
                @include Adaptive('>=TL')
                {
                    right: Grid(5);
                }
            }


            transition: 0.3s;
            &:hover
            {
                transform: scale(1.1);
            }
        }
    }
}
