.Gallery
{
    background:      url(/img/textures/pattern-dark.jpg) center;
    background-size: contain;
    box-shadow:      0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:           white;
    padding:         Grid() Grid(3) Grid(8);

    .Gallery-Header
    {
        @extend %Header-Lines-Light;

        p
        {
            font-size:      Grid(2, 4);
            font-family:    'Roboto Slab', serif;
            font-weight:    300;
            color:          white;
            line-height:    Grid(3);
            padding-top:    Grid(2);
            padding-bottom: Grid(2);
        }
    }

    .Gallery-List
    {
        max-width: 1200px;
        margin:    0 auto;
        font-size: 0;
        @include Adaptive('>TS')
        {
            padding: 0 Grid(3);
        }

        .Gallery-Line
        {
            //padding-bottom: Grid(8);
        }

        .Gallery-Vertical
        {
            display:        none;
            vertical-align: top;
            width:          100%;
            font-size:      0;
            text-align:     center;
            @include Adaptive('<=TL')
            {
                .JS-Image-Align
                {
                    width:          48%;
                    display:        inline-block;
                    vertical-align: top;
                }
            }

            @include Adaptive('>TL')
            {
                display: inline-block;
                width:   14.27%;
            }

            .JS-Image-Align
            {
                &:first-of-type
                {
                    margin-bottom: 4px;
                }
            }
            .JS-Image-Align
            {
                @include Adaptive('>TL'){
                    &:hover
                    {
                        transform: scale(1.8);
                    }
                }
            }
        }

        .Gallery-Big
        {
            width:          50%;
            display:        inline-block;
            vertical-align: top;

            @include Adaptive('>TL')
            {
                width: 28.54%;
            }
        }

        .JS-Image-Align
        {
            max-width:  100%;
            border:     Grid(0.5) solid white;
            margin:     2px;
            display:    block;
            transition: 0.3s ease-out;

            @include Adaptive('>TL'){
                &:hover
                {
                    position:  relative;
                    z-index:   2;
                    transform: scale(1.35);
                }
            }
        }
    }

}
