.Video
{
    padding:         Grid(2) Grid(3) Grid(6);

    background:      url(/img/textures/pattern-dark.jpg) center;
    background-size: contain;
    box-shadow:      0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:           white;

    .Video-Header
    {
        @extend %Header-Lines-Light;
        .Header-Spot-1
        {
            padding-right: 175px;
        }

        .Header-Spot-2
        {
            padding-left: 175px;
        }
    }

    .Video-Description
    {
        width:     100%;
        max-width: 1200px;
        margin:    0 auto;
        font-size: 0;
        li
        {
            display: inline-block;
            width:   100%;
            padding: 0 Grid(0) Grid(4);

            @include Adaptive('>=TS')
            {
                padding: 0 Grid(2) Grid(4);
                width: 50%;
            }
            @include Adaptive('>=DS')
            {
                width: 33%;
            }
            iframe
            {
                width:      100%;
                height:     Grid(25);
                border:     Grid(0.5) solid white;
                box-shadow: 0 0 15px rgba(0, 0, 0, .3);
            }
        }
    }
}