.Reviews
{
    padding:    Grid(2) Grid(3) Grid(6);
    background: url(/img/textures/pattern-light.jpg);
    box-shadow: 0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:      #2d2d2d;

    .Reviews-Header
    {
        @extend %Header-Lines;
        .Header-Spot-1
        {
            padding-right: 90px;
        }

        .Header-Spot-2
        {
            padding-left: 90px;
        }
    }

    .Reviews-List
    {
        max-width: 1200px;
        margin:    0 auto;
        .Reviews-List-Item
        {
            font-size: 0;
            padding:   0 0 Grid(6);
            @include Adaptive('>=TL')
            {
                padding: Grid(2) Grid(3);
            }
        }

        .Reviews-Author
        {
            display:        inline-block;
            width:          100%;
            padding-bottom: Grid(2);

            @include Adaptive('>=TL')
            {
                width:          20%;
                padding-right:  Grid(2);
                padding-bottom: 0;
            }
        }

        .JS-Image-Align
        {
            width:          100%;
            vertical-align: top;

            border:         Grid(0.5) solid white;
            box-shadow:     0 0 15px rgba(0, 0, 0, 0.3);
        }

        h4
        {
            display:        inline-block;
            margin:         0 auto;

            font-family:    'Roboto Slab', serif;
            font-weight:    400;
            padding-bottom: Grid(1);
            font-size:      Grid(3);
            color:          #2d2d2d;
            vertical-align: middle;
        }

        article
        {
            display:        inline-block;
            vertical-align: top;
            width:          100%;
            position:       relative;

            @include Adaptive('>=TL')
            {
                width: 80%;
            }

            padding:        Grid(3);
            box-shadow:     0 0 15px rgba(0, 0, 0, 0.3);
            text-shadow:    0 1px 0 white;

            background:     white;
            background:     linear-gradient(to bottom, white 0%, #E4E4E4 100%);

            @include Adaptive('>=TL')
            {
                &:before
                {
                    content:      '';
                    position:     absolute;
                    width:        0;
                    height:       0;
                    border:       12px solid transparent;
                    border-right: 34px solid #FAFAFA;
                    left:         -46px;
                    top:          16px;
                }
            }

            p
            {
                margin-bottom: Grid();
                font-family:   'Roboto Slab', serif;
                font-weight:   300;
                font-size:     Grid(1.75);
                line-height:   Grid(2.5);

            }

            a.More
            {
                display:     inline-block;
                font-family: 'Roboto Slab', serif;
                font-size:   Grid(2, -2);
                color:       #444;
                cursor:      pointer;

                transition:  0.1s;
                &:hover
                {
                    color: black;
                }
            }

            .Hidden
            {
                display: none;
            }
        }
    }
}