.Contacts
{
    padding:         Grid(2) Grid(4) Grid(6);

    background:      url(/img/textures/pattern-dark.jpg) center;
    background-size: cover;
    box-shadow:      0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:           #fffefe;

    .Contacts-Header
    {
        @extend %Header-Lines-Light;
        .Header-Spot-1
        {
            padding-right: 116px;
        }

        .Header-Spot-2
        {
            padding-left: 116px;
        }
    }

    .Contacts-Wrapper
    {
        width:     100%;
        max-width: 1200px;
        @include Adaptive('>TS')
        {
            padding: 0 Grid(3);
        }
        margin:    0 auto;
        font-size: 0;

        p
        {
            list-style:     circle;
            padding-bottom: Grid(2);
            font-family:    'Roboto Slab', serif;
            font-weight:    300;
            font-size:      Grid(2);
            line-height:    Grid(3);
        }
        .Contacts-Map
        {
            display:    inline-block;
            width:      100%;

            @include Adaptive('>TM')
            {
                width: 70%;
            }

            height:     380px;
            border:     4px solid #fff !important;
            box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        }
        .Contacts-Info
        {
            display:        inline-block;
            width:          100%;
            padding-top:    Grid(3);

            @include Adaptive('>TM')
            {
                width: 30%;
            }
            vertical-align: top;
            text-align:     left;
            padding-left:   5%;

            dt
            {
                padding-bottom: Grid(1);
                font-size:      Grid(2.75);
                font-family:    'Roboto Slab', serif;
                font-weight:    400;
            }

            dd
            {
                padding-bottom: Grid(4);
                font-size:      Grid(2.25);
                line-height:    Grid(3);
                font-family:    'Roboto Slab', serif;
                font-weight:    300;
            }
        }
    }

    .Contacts-Docs-Header
    {
        @extend %Header-Lines-Light;
        .Header-Spot-1
        {
            padding-right: 150px;
        }

        .Header-Spot-2
        {
            padding-left: 150px;
        }
    }

    .Contacts-Docs-List
    {
        font-size: 0;
        width:     100%;
        max-width: 1200px;
        margin:    0 auto;
        .Contacts-Docs-Item
        {
            width:          100%;
            display:        inline-block;
            vertical-align: top;
            padding:        Grid();
            @include Adaptive('>=DS')
            {
                width: 50%;
                padding:        Grid(4);
            }
        }
        h3
        {
            padding-bottom: Grid(3);
            font-size:      Grid(2);
            line-height:    Grid(3);
            font-family:    'Roboto Slab', serif;
            font-weight:    400;
            @include Adaptive('>=DS')
            {
                font-size:      Grid(2.75);
            }
        }

        li
        {
            margin-left:    Grid(2);
            list-style:     circle;
            padding-bottom: 16px;
            font-family:    'Roboto Slab', serif;
            font-weight:    300;
            font-size:      16px;
            line-height:    24px;
        }

    }
}