.Order
{
    padding:    Grid(2) Grid(4) Grid(6);

    background: url(/img/textures/pattern-light.jpg);
    box-shadow: 0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:      #2d2d2d;

    .Order-Header
    {
        @extend %Header-Lines;
        .Header-Spot-1
        {
            padding-right: 220px;
        }

        .Header-Spot-2
        {
            padding-left: 220px;
        }
    }

    .Order-Wrapper
    {
        position:   relative;
        margin:     0 auto;
        max-width:  Grid(90);
        background: rgba(0, 0, 0, 0.5);
        font-size:  0px;
        &:before, &:after
        {
            content:    '';
            z-index:    2;
            position:   absolute;
            width:      100%;
            height:     2px;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
            &:before
            {
                top: -2px;
            }
            &:after
            {
                bottom: -2px;
            }
        }
        form
        {
            padding:   Grid(3);
            font-size: 0;
            p
            {
                text-align:     center;
                font-size:      22px;
                font-family:    'Roboto Slab', serif;
                font-weight:    300;
                color:          #fff;
                padding-top:    20px;
                padding-bottom: 15px;
            }

            input
            {
                box-sizing:    border-box;
                display:       inline-block;
                width:         100%;
                height:        Grid(8);
                padding:       0 Grid(2);
                margin-bottom: Grid(2);

                @include Adaptive('>TS')
                {
                    width:         60%;
                    margin-bottom: 0;
                }

                font-size:     14px;
                font-family:   'Roboto Slab', serif;
                font-weight:   300;
                color:         #969696;

                border:        none;
                outline:       none;
                box-shadow:    0 0 0 2px #D2D2D2 inset;
            }
            button
            {
                box-sizing:     border-box;
                display:        inline-block;
                width:          100%;
                @include Adaptive('>TS')
                {
                    width: 40%;
                }
                height:         Grid(8);

                background:     #fc4ba0;
                background:     linear-gradient(to bottom, #FF4646 0%, #FD3535 100%);
                border:         none;
                outline:        none;

                cursor:         pointer;
                vertical-align: top;

                font-size:      22px;
                font-weight:    400;
                font-family:    'Roboto Slab', serif;
                color:          #fff;

                transition:     0.2s;
                &:hover
                {
                    box-shadow: inset 0 -5px 32px rgba(189, 0, 0, 0.3);
                }
            }
        }
    }

    .JS-Form-Result
    {
        text-align:  center;
        font-size:   22px;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        color:       #fff;
        padding-top: Grid(2);
    }
}
