.Footer
{
    padding:         0 Grid(4);

    background:      url(/img/textures/pattern-dark.jpg) center;
    background-size: cover;
    box-shadow:      0 Grid(0.5) Grid(1.25) rgba(0, 0, 0, 0.3) inset;
    color:           #fffefe;

    .Footer-Wrapper
    {
        max-width: 1200px;
        margin:    0 auto;
    }
    .Footer-Copyright
    {
        padding:     Grid(3) 0 Grid(3, -2);
        font-size:   Grid(2);
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        text-align:  center;
        line-height: Grid(3);

        @include Adaptive('>TS')
        {
            text-align: left;
        }
    }

    .Footer-Created
    {
        display:         block;
        padding-top:     Grid(4);
        text-align:      center;

        @include Adaptive('>TS')
        {
            padding-top: Grid(2, -2);
            display:     inline-block;
            float:       right;
        }
        text-decoration: none;
        vertical-align:  middle;
        svg
        {
            display:        inline-block;
            vertical-align: middle;
            width:          Grid(20);
            margin:         0 auto;;

            @include Adaptive('>TS')
            {
                width:  Grid(16);
                height: Grid(6);
            }
        }
    }
}