@font-face {
    font-family: 'PFHandbookPro-Regular';
    src: url('/scss/fonts/PFHandbookPro-Regular.eot?#iefix') format('embedded-opentype'),  url('/scss/fonts/PFHandbookPro-Regular.woff') format('woff'), url('/scss/fonts/PFHandbookPro-Regular.ttf')  format('truetype'), url('/scss/fonts/PFHandbookPro-Regular.svg#PFHandbookPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Regular';
    src: url('/scss/fonts/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),  url('/scss/fonts/PFDinTextPro-Regular.woff') format('woff'), url('/scss/fonts/PFDinTextPro-Regular.ttf')  format('truetype'), url('/scss/fonts/PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Light';
    src: url('/scss/fonts/PFDinTextPro-Light.eot?#iefix') format('embedded-opentype'),  url('/scss/fonts/PFDinTextPro-Light.woff') format('woff'), url('/scss/fonts/PFDinTextPro-Light.ttf')  format('truetype'), url('/scss/fonts/PFDinTextPro-Light.svg#PFDinTextPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
